/*=======================================================================
// High level styling.
=======================================================================*/
a {
    color: #000009;
    text-decoration: none;
}

a:hover {
    color: #000009;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 4.16667%;
}

body {
    background-color: #e3e3e3;
    font-family: "Rye", sans-serif;
}

textarea {
    resize: vertical;
}

/*=======================================================================
// Common styling.
=======================================================================*/
.btn {
    margin: 20px 0 20px 0;
    color: #e3e3e3;
}

.text-link {
    color: #d41936;
}

.text-link:hover {
    color: #7e1921;
}

.page-title {
    margin: 0 0 20px 0;
}

/*=======================================================================
// Navigation bar styling.
=======================================================================*/
nav {
    position: relative;
    background: #000009;
    overflow: hidden;
    margin: 0;
    padding: 10px 0 6px;
    border-bottom: 1px solid #e3e3e3;
    z-index: 0;
}

nav a {
    padding: 20px 10px;
    text-decoration: none;
    color: #e3e3e3;
}

nav a:hover {
    color: #d41936;
    text-decoration: none;
}

.navbar-brand {
    padding: 10px 0 0 0;
    font-size: 2.4em;
    color: #e3e3e3;

    -webkit-user-select: none;   
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-sub-brand {
    padding: 20px 0 0 0;
    max-width: 200px;
    font-size: 0.8em;
    color: #d41936;

    -webkit-user-select: none;   
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

/*=======================================================================
// Banner styling.
=======================================================================*/
.container-banner {
    margin: 0 auto;
    width: 100%;
}

.banner {
    min-height: 70vh;
    width: 100%;
    padding: 100px 0 100px 0;
    text-align: center;
    border-bottom: 1px solid #CFE3DC;
    background-image: url("../img/home-screenshot.jpg");
    background-size: cover;
}

.banner-text {
    display: block;
    margin: 0 auto;
    padding: 0 0 20px 0;
    color: #e3e3e3;
    max-width: 600px;
}

.banner-button {
    color: #e3e3e3;
}

.banner-button:hover {
    color: #e3e3e3;
}

/*=======================================================================
// Footer styling.
=======================================================================*/
footer {
    height: 300px;
    background-color: #7e1921;
    color: #e3e3e3;
    line-height: 300px;
    text-align: center;
}

footer a {
    color: #e3e3e3;
    text-decoration: none;
}

footer a:hover {
    color: #000009;
    text-decoration: none;
}

/*=======================================================================
// About styling.
=======================================================================*/
.about {
    min-height: 70vh;
    width: 100%;
    padding: 100px 0 100px 0;
    text-align: center;
    border-bottom: 1px solid #CFE3DC;
    background-size: cover;
}

/*=======================================================================
// Login and registration styling.
=======================================================================*/
label, input {
    display: block;
    margin: 0 auto;
    padding: 5px 0 5px 0;
}

.form-div {
    min-height: 50vh;
    max-width: 380px;
    margin: 70px auto 70px;
    text-align: center;
}

form p {
    padding: 10px 0 10px 0;
}

.form-div input {
    width: 100%;
    height: 40px;
}

.form-div select {
    width: 100%;
    height: 40px;
}

.form-div textarea {
    border:1px solid #999999;
    width:98%;
    margin:5px 0;
    padding:1%;
}

.helptext {
    font-size: 0.6em;
}

.errorlist {
    list-style-type: none;
    padding-left: 0;
    color: #d41936;
}